@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kumbh+Sans:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* web background */
.app-background {
  background: rgb(0, 9, 17);
  background: linear-gradient(
    40deg,
    rgba(0, 9, 17, 1) 0%,
    rgba(0, 8, 17, 1) 100%
  );
}

ul li {
  @apply hover:scale-105 transition-transform;
}

ul li a {
  @apply transition-all;
}

.heading {
  @apply text-white text-[26px] md:text-[29px] font-semibold font-merriweather;
}

.paragraph {
  @apply text-gray-200 text-base md:text-[18px] leading-[1.7];
}

.nav-items li a {
  color: #edeff0;
  font-weight: 500;
}

.nav-items li a:hover {
  color: #cddadd;
  transform: scale(2);
}

.nav-items li a.active {
  color: #49cbe9;
}

.primary-btn {
  background: rgb(79, 153, 216);
  background: linear-gradient(
    40deg,
    rgba(79, 153, 216, 1) 0%,
    rgba(71, 38, 189, 1) 100%
  );
  color: white;
}

.typed-cursor {
  font-size: 2rem; /* Change the size of the cursor */
  color: white; /* Change the color of the cursor */
  opacity: 1; /* Ensure the cursor is visible */
  animation: blink 0.7s infinite; /* Blinking animation */
  display: inline;
}
